<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.forms">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_forms_document_svgrepo_com_cyan"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_forms_document_svgrepo_com_cyan"
        android:supportsRtl="true"
        android:theme="@style/Theme.Forms.cyan">
        <activity android:name=".activities.AfterDo" />


        <activity
            android:name=".activities.ReportActivity"
            android:label="@string/title_activity_report" />
        <activity android:name=".activities.LoadFormActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.app.forms"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateFormActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmIntentPublishReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".AlarmIntentUnPublishReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>